<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'cadastro_css/reset.css'%}">
    <link rel="stylesheet" href="{%static 'cadastro_css/styles.css'%}">
</head>
<body>
    <main>
        <form action="#" method="post">
            <div class="container">

                <div class="form-title">
                    <h1 class="form-header">Crie uma Conta</h1>
                    <p class="form-text">Preencha os dados abaixo</p>
                </div>
    
                <div class="input-group">
    
                    <div class="input-box">
                        <input id="name" type="name" name="name" class="inputUser" required>
                        <label for="name" class="labeInput">Nome completo</label>
                    </div>
    
                    <div class="input-box">
                        <input id="email" type="email" name="email" class="inputUser" required>
                        <label for="email" class="labeInput">E-mail</label>
                    </div>
    
                    <div class="input-box">
                        <input id="password" type="password" name="password" class="inputUser" required>
                        <label for="password" class="labeInput">Senha</label>
                    </div>
    
                    <div class="input-box">
                        <input id="confirmPassword" type="password" name="confirmPassword" class="inputUser" required>
                        <label for="confirmPassword" class="labeInput">Confirme a senha</label>
                    </div>
    
                </div>
                <div class="buttons">
                    <button class="btn-register">Cadastrar</button>
                    <p class="form-text">Já tem uma conta? <a href="{%url 'login'%}" class="link-register">Login</a></p>
                </div>

            </div>
        </form>
    </main>
</body>
</html>